In [1]:
import pandas as pd

In [3]:
sr = pd.Series(['42','45','12'])
sr

0    42
1    45
2    12
dtype: object

In [9]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60,
    "6":80
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102,
    "6":105
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127,
    "6":140
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300,
    "6":230
  }
}
df = pd.DataFrame(data)

In [10]:
df

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300
6        80    105       140       230

In [ ]:
robo = pd.read_excel(path)

In [ ]:
robo

In [ ]:
robo.fillna(0,inplace=True)

In [ ]:
robo

In [21]:
robo.tail()

,Launches,Launch 1,Launch 2,Launch 3,Launch 4,Launch 5,Launch 6,Launch 7,Launch 8,Launch 9,...,Launch 16,Launch 17,Launch 18,Launch 19,Launch 20,Launch 21,Launch 22,Launch 23,Launch 24,Launch 25
24,Points:,0.0,20,10,15,45,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,Description:,0.0,If energy cell unit is not touching Water Dam.,If Innovation Project Model is partly inside H...,If energy cell unit is no longer touching Powe...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Bonus:,0.0,0,0,10,10,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Description:,0.0,0,0,If all three energy cell units are not touchin...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,Total:,0.0,20,10,25,55,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
sub = robo.loc[robo["Launches"]=="Bonus: "]

In [27]:
robo.iloc[26,0:5] #robo.iloc[26,:]

In [32]:
sub.to_excel("Robo Sub.xlsx",index=False)

In [33]:
sub.to_csv("Robo Sub.csv")